@model ASP.NET_MVC_MajsterStrelby.Models.PlayersViewModel
@{
    ViewBag.Title = "Leaderboard";
    int counter = 1;
}
<div class="jumbotron jumbotron-center">
    <h2>Rebríček</h2>
    <div class="row leaderboard_table">
        @foreach (var player in Model.GetPlayers())
        {
            <div class="col-md-2">
                @(counter++)
            </div>
            <div class="col-md-4">
                @player._name
            </div>
            <div class="col-md-3">
                @player._level
            </div>
            <div class="col-md-3">
                @player._resolved
            </div>
        }

        <div class="col-md-2 spaceUpper">
        </div>
        <div class="col-md-4 spaceUpper">
            @Model.GetActualPlayer()._name
        </div>
        <div class="col-md-3 spaceUpper">
            @Model.GetActualPlayer()._level
        </div>
        <div class="col-md-3 spaceUpper">
            @Model.GetActualPlayer()._resolved
        </div>
    </div>
</div>
