<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" type="image/ico" href="~/Images/Ico.ico">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/Chart.min.js"></script>

</head>
<body>
    <div class="cover-container d-flex h-100 mx-auto flex-column">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-auto">
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">Majster Streľby</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Game")" class="elements">
                            <span>Nová hra</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Leaderboard")" class="elements">
                            <span>Rebríček</span>
                        </a>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </nav>

        <div class="container body-content">
            @RenderBody()
        </div>

        <footer class="mt-auto">
            @*<p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>*@
            @*<br /> Cliparty zo stránky <a href="http://clipart-library.com">Clipart-Library</a>
            <br /> Obrázok v pozadí zo stránky <a href="https://es.pngtree.com">Png-Tree</a>*@
            <br /> Vytvorené s použitím <a href="https://getbootstrap.com/">Bootstrapu</a>, <a href="http://clipart-library.com">Clipart-Library</a>, <a href="https://www.shopcraftables.com">Craftables</a> a <a href="https://www.pptgrounds.com">PPT-Grounds</a>.
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
